div.row(style='margin:0; background-color:#fff; min-height:30vh; padding:16px;').text-center
	.col.col-md-4
		h4 Develop by
		div
			i.fab.fa-node-js
			i.fab.fa-css3

	.col.col-md-4
		h4 Contact
		div(style='text-align:center;')
			h7 Personal Number
			h6 087729787832
			h7 Email
			h6 filhandennis@hotmail.com
	.col.col-md-4
		h4 Media Connect
		div
			img(height="32", width="32", src="https://unpkg.com/simple-icons@latest/icons/line.svg")
			img(height="32", width="32", src="https://unpkg.com/simple-icons@latest/icons/whatsapp.svg")
			img(height="32", width="32", src="https://unpkg.com/simple-icons@latest/icons/facebook.svg")
			img(height="32", width="32", src="https://unpkg.com/simple-icons@latest/icons/linkedin.svg")