div.footer-a.row(style='margin:0; min-height:30vh; padding:16px;')
	.col-md-4
		h4 Develop with
		div
			a(href='https://expressjs.com/', target='_blank', title='ExpressJS for Backend').btn.btn-light
				i.icon.fab.fa-node
			a(href='https://jquery.com/', target='_blank', title='JS / JQuery for Plugin').btn.btn-light
				i.icon.fab.fa-js
			| &nbsp;
			a.btn.btn-light(href='https://getbootstrap.com/', target='_blank', title='Bootstrap Framework')
				i.icon.fab.fa-css3
			| &nbsp;
			a.btn.btn-light(href='https://fontawesome.com/', target='_blank', title='Font-Awesome for Iconic')
				i.icon.fab.fa-font-awesome
			| &nbsp;
			a(href='https://heroku.com', target='_blank')
				img.icon(src='https://image.flaticon.com/icons/svg/873/873120.svg', style='height:38px;', title='Heroku for Cloud Hosting')
			| &nbsp;
			a.btn.btn-light(href='https://github.com/filhandennis/Portofolia', target='_blank', title='The Repository')
				i.icon.fab.fa-github
		hr
	.col-md-4
		
	.col-md-4#mediaconnect()
		h4 Contact
		div
			h6
				| 081222659288
				| &nbsp;
				i.fas.fa-phone
			h6
				| filhandennis@hotmail.com 
				| &nbsp;
				i.fas.fa-envelope
		hr
		h4 Media Connect
			div
				button.btn.btn-light(title='LINE', data-text='@dennisfilhan')
					i.action-contact.icon.fab.fa-line
				| &nbsp;		
				button.btn.btn-light(title='WhatsApp', data-text='087729787832')
					i.action-contact.icon.fab.fa-whatsapp
				| &nbsp;
				button.btn.btn-light(title='Facebook', data-text='Filhan Dennis')
					i.action-contact.icon.fab.fa-facebook
				| &nbsp;
				button.btn.btn-light(title='LinkedIn', data-text='#')
					i.action-contact.icon.fab.fa-linkedin
		hr

		div
div.footer-b(style='padding:0.5%; text-align:center; min-height:10vh;')
			h7 XANDORUI @2018