body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon{height: 38px; font-size:38px; display: inline-block;}
.ff{color:#fff;}

footer{margin-top: 5%;}
.footer-a{background-color: #f5f5f5;}
.footer-b{background-color: #bdb9b7; color:#f5f5f5;}

#mediaconnect{text-align: right;}
@media (max-width: 768px) {
	#mediaconnect{text-align: left;}
}